@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inputs */
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  color : rgb(255, 255, 255) !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  border: none !important;
} */


:root {

  --nextui-primary-1-color: theme('colors.primary-1');
  --nextui-primary-2-color: theme('colors.primary-2');
  --nextui-background-1-color: theme('colors.background-1');
  --nextui-background-2-color: theme('colors.background-2');
  --nextui-background-3-color: theme('colors.background-3');
  --nextui-background-4-color: theme('colors.background-4');
  --nextui-background-card-1-color: theme('colors.background-card-1');
  --nextui-background-card-2-color: theme('colors.background-card-2');
  --nextui-p-text-color: theme('colors.p-text');
  --nextui-heading-text-color: theme('colors.heading-text');
}


/* IMPUT LIGHT */
input:-webkit-autofill {
  color : rgb(0, 0, 0) !important;
  -webkit-text-fill-color: rgb(35, 35, 35) !important;
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  border: none !important;
}
[data-slot="input-wrapper"] {
  border: 2px solid #e8e8e8;
}
[data-focus="true"] [data-slot="input-wrapper"] {
  border: 2px solid #8899a872;
}


/* IMPUT DARK */
.dark input:-webkit-autofill {
  color : rgb(0, 0, 0) !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  border: none !important;
}

/*  */
li::marker {
  /* --nextui-primary: var(--nextui-colors-primary.1) */
  color: var(--nextui-primary-1-color);
  font-size: 1em;
}

/* MARKDOWN GLOBAL CSS */
/* .markdown h1 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom:  1.25rem;
  letter-spacing: 0.05em;
  text-align: center;
  --tw-text-opacity: 1;
  color: var(--nextui-heading-text-color);  
  font-weight: 400;
  background: var(--nextui-background-4-color);
  padding: 30px 0px 30px 0px;  
  border-radius: 8px;
  font-weight: 600;
} */
.markdown h2 {
  font-size: 2rem;
  line-height: 2.6rem; 
  margin-bottom:  1.25rem; 
  margin-top:  4rem;
  letter-spacing: 0.05em;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: var(--nextui-heading-text-color);
  border-left: 4px solid var(--nextui-primary-1-color);
  padding-left: 20px;
}
.dark .markdown h2 {
  --tw-text-opacity: 1;
  color:  var(--nextui-heading-text-color);  
}
.markdown h3 {
  font-size: 1.50rem;
  line-height: 2.25rem;
  margin-bottom:  1.25rem; 
  margin-top: 2.50rem;
  letter-spacing: 0.05em;
  --tw-text-opacity: 1;
  color:  var(--nextui-heading-text-color);
}
.dark .markdown h3 {
  --tw-text-opacity: 1;
  color:  var(--nextui-heading-text-color);  
}
.markdown h4 {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom:  1.1rem;
  margin-top: 1.25rem;
  letter-spacing: 0.05em;
  font-weight: 500;
  --tw-text-opacity: 1;
  color:  var(--nextui-heading-text-color);
}
.dark .markdown h4 {
  --tw-text-opacity: 1;
  color:  var(--nextui-heading-text-color);  
}
.markdown p {
  line-height: 1.60rem;
  margin-bottom:  2.25rem;
  letter-spacing: 0.05em;
  line-height: 1.55;
  --tw-text-opacity: 1;
  color:  var(--nextui-p-text-color);
}
.dark .markdown p {
  --tw-text-opacity: 1;
  color:  var(--nextui-p-text-color);   
}

.markdown img {
  width: 100%;
  border-radius: 0.5rem;
}
.markdown ul { 
  margin-bottom: 1.25rem;
}

.markdown ul li { 
  list-style-type: disc;
  margin-left: 30px;
  /* margin-top: 0.4rem; */
  line-height: 1.8rem;
  letter-spacing: 0.05em;
  --tw-text-opacity: 1;
  color: var(--nextui-p-text-color);;
}
.dark .markdown strong { 
  --tw-text-opacity: 0.92;
  color: rgb(249 250 251 / var(--tw-text-opacity))
}
.markdown a { 
  --tw-text-opacity: 1;
  color: var(--nextui-primary-1-color);
  letter-spacing: 0.025em;
  font-weight: 600;
  letter-spacing: 0.05em;
}
.markdown a:hover { 
  opacity: 70%;
  transition: ease 500ms;
}

