@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  color : rgba(0, 0, 0, 0) !important;
  -webkit-text-fill-color: rgb(108, 108, 108) !important;
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  border: none !important;
}
