
  /* .swiper {
    width: 100%;
    height: 100%;
  }
  
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  .swiper-wrapper {
    position: relative;
  }
  .swiper-button-prev {
    font-size: 1px;
    color: #18BFFF;
    background-color: #CBEAF8;
    border-radius: 10%;
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-bottom: -300px;
  }
  .swiper-button-prev::after {
    font-size: 20px;
    font-weight: 900;
  }
  .swiper-button-next {
    font-size: 1px;
    color: #18BFFF;
    background-color: #CBEAF8;
    border-radius: 10%;
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }
  .swiper-button-next::after {
    font-size: 20px;
    font-weight: 900;
  }
  @media only screen and (max-width: 850px) {
    .swiper-button-next { 
      display: none;
    }
    .swiper-button-prev { 
      display: none;
    }
  } 
  .swiper-pagination {
    margin-bottom: 5px;
  }